{{!--css links ==================================== --}}
<link rel="icon" type="image/png" href="/view/images/icons/favicon.jpg"/>
	<link rel="stylesheet"  href="/view/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet"  href="/view/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet"  href="/view/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet"  href="/view/vendor/animate/animate.css">
	<link rel="stylesheet"  href="/view/vendor/css-hamburgers/hamburgers.min.css">
 <link rel="stylesheet"  href="/view/vendor/select2/select2.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 {{!-- <link rel="stylesheet" href="myProjects/webProject/icofont/css/icofont.min.css"> --}}
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<link rel="stylesheet" href="/view/css/util.css">
{{!-- navbar code --}}
  <div class="navbar-fixed">
    <nav class="indigo darken-4 ">
	<div class="container-fluid">
	<div class="row">	
    <div class="nav-wrapper col s12 l12 m12">
    <div class="col m12 l8 align-center">
    	<a class="brand-logo m-t-2" style="letter-spacing: 1px;"><img class="circle" src="/view/images/logo.jpg" alt="Logo" style="width:50px;"><b> SkyChat </b><span><small style="font-size: 15px;">Meet the World<small></span></a>
    </div>
    <div class="col m12 l4 ">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        <li><a href="/logout">logout<i class="fa fa-sign-out"></i></a> 
</li> 
      </ul>
    </div>
    </div>
    </div>
	</div>
  </nav></div>
  {{!--<=======================================================================> --}}

  {{!-- Welcome Header --}}
  <div>
	<nav class="grey darken-1" style="height: 60px;">
	<div class="container-fluid">
	<div class="row">	
    <div class="nav-wrapper col s12 l12 m12">
    <div class="col m12 l12 m12 text-left align-left " style="align-items: right;">
      <ul id="nav-mobile">  <a class="right btn" id="search_friend" style="margin-top: 15px;border-radius: 20px"><b>Search Friend</b></a>
	  <input id="search_friend_txt" class="right" style="width: 15%;margin-top: 7px; background-color:rgb(255, 254, 254); padding-left:15px;border-radius: 25px;" type="text" placeholder="add new friend">
	  
        <h5 class="left">Welcome {{id}} </h5>
		
           <input type="hidden" id ="user_id" value={{id}}>
      </ul>
    </div>
    </div>
    </div>
	</div>
  </nav>
</div>
{{!-- sreach friends --}}
    <div id="div_searched_friend" style="padding-left: 30px; background-color:blue" class="hide">
		<label id="searched_friend" style="font-weight: bold"></label>
		<i id="close_div" class="material-icons right hover" style="height: 30px;width:10px;margin-right:30px">close</i>
	<button id="add_friend" class="btn right" style="margin-right:30px; margin-top:7px" >add</button></div>
	
	
  {{!-- =================================== --}}
   <div id = "mainContainer"> 

    {{!-- Main div  --}}

      <main >
	
<div class="container-fluid main-div">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3 ">
			<div class="friendlist" style="height: fit-content">
				<div class="text-center pt-2">
					<h4 style="font-family: sans-serif;" class="indigo-text text-darken-4"><b>Friend List</b></h4>
				</div>
			<ul class="friend_list" style="overflow: auto; height:300px" >
         {{#each user_friends}}
				<div id="{{this.name}}" class="usersmenu" onclick="{get_otheruser_to_msg(id)}" ><li><img src="/view/images/icons/friend.png" alt="" class="circle img-fluid" width="40px" ><h6 style="display: inline-block; padding-left: 10px;"> {{this.name}} {{#if this.active}} <b style="color:lightgreen;font-size:50px">.</b> {{/if}}</h6>
		<button  onclick="{get_otherUser_toCall(value)}" value={{this.name}} class="right" style="color: green ;padding-right:10px ;padding-top:10px;"><i class="material-icons">call</i></button> </li><br>
				<hr style="margin-right: 10px; margin-top: 0px;"></div>
         {{/each}}
			</ul>
	</div>
		</div>
		
	<div class="video-div col-sm-9 col-md-9 col-lg-9">
		<div>
			<video id="remote" autoplay height="500px" width="75%" style="float: left; padding-right: 0px;background:black; margin-top: 10px;" class="img-fluid">
				</video>
         
		</div>
		<div >
			<video id="local" autoplay  height="250px" width="24.5%" class="img-fluid" style="margin-left: 2px;background:black; margin-top: 10px;">
				
			</video>
     
			
		</div>
		<div class=""><div class="card" style="overflow: auto;background-color: rgb(255, 254, 254);margin-top:-9px; height:230px">
                        <div id="messages" class="card-block">
                        <div id="message_show"></div>
                        </div>
                    </div>
			</div>
     <a href="/close"><button class="btn " style="width:75%;font-weight:bolder; background:red"  id="close-call">End call</button></a>	
		
	</div>
	</div>
	
</div>
</main>
</div>
          {{!-- ===================================== --}}

{{!-- Footer text chat area  --}}
<footer class="grey darken-1 footer" style="margin-top: 50px;">
	<div class="container-fluid">
		<div class="row">
			<div class="col s12 m12 l12 " style="height: 50px; margin-top: 10px;">
				<input type="text" id="text_message" name="text" placeholder="Type a message..." style="width: 90%; height: 40px; background: white; border-radius: 50px;
         padding-left: 10px; font-family: sans-serif; border: 2px solid navy !important;">
				<button  onclick="texting()" class="btn indigo darken-4" style="width:10%; margin-top: -5px; right: 
        center; width: 100px; border-radius: 40px; height: 42px; font-weight: bold;padding-top: -50px !important;">
        <span style="float: left; margin-top: 10px;"><p style="color: white; font font-weight: 900;">send</p></span>
        <i class="material-icons" style="margin-left: 0px;  margin-top: 3px;">send</i></button>
			</div>
		</div>
	</div>
  
</footer>

    
    <script src="webrtc.js"></script>
    <script> 
		
		$(document).on("click",'.usersmenu',function(){
			$(".myClass").removeClass("myClass");
			$(this).addClass("myClass");
		})
		
		window.onload = setTimeout(get_user_name, 2000)
		 </script>
    




    
    


    
    
    
    
    
    
    